html, body {
	margin: 0px;
	padding: 0px;
	height: 100%;
}

body {
	background-color: #eeeeea;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 24px;
	margin-right: auto;
	font-family: Helvetica, Verdana, tahoma, Arial, Sans-serif;
	font-size: 1em;
	padding: 0px;
}

h1 {
	margin-top: 0px;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

div#content {
	margin: 0px;
	height: 100%;
	background-color: #fefefd;
	width: 706px;
	padding: 24px;
}

table {
	border-spacing: 1px;
}

table#zizo {
	float: left;
	margin-right: 32px;
}

button {
	font-weight: normal;
	font-size: 14px;
	font-family: Helvetica, Verdana, tahoma, Arial, Sans-serif;
	padding: 0px;
}

div#grids {
	margin-top: 30px;
}

th {
	font-weight: normal;
	font-size: 14px;
	font-family: Helvetica, Verdana, tahoma, Arial, Sans-serif;
}

canvas {
	background: url('../img/outline.png');
}
